<a href="/show/{{dom}}/{{data._id}}" class="closedMenu">
  {{#if data.icon}}
    <span
      class="icons {{data.picture}} iconImage back"
      alt="{{data.name}}">
    </span>
  {{else}}
    <img src="{{data.picture}}" alt="{{data.name}}" class="iconImage">
  {{/if}}
</a>